@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?32480171');
  src: url('../fonts/fontello.eot?32480171#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?32480171') format('woff'), url('../fonts/fontello.ttf?32480171') format('truetype'), url('../fonts/fontello.svg?32480171#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32480171#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  margin-right: .2em;
  text-align: center;
  text-decoration: inherit;
  width: 1em;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
span.pictogram {
  font-family: 'fontello';
  font-size: 20px;
  line-height: 0;
  margin-left: 5px;
  vertical-align: sub;
}
/* BASIC */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  background: url('../images/bg.png') #FEFBFC;
  color: #151708;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 0;
}
a {
  color: #009CFF;
  text-decoration: none;
}
a:hover {
  color: #009CFF;
}
a:visited {
  color: #009CFF;
}
ul {
  -webkit-padding-start: 0
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.main-container {
  margin: 0 auto;
  position: relative;
}
/* IFRAME */

.videoWrapper {
  height: 100%;
  padding: 0;
  position: absolute;
  width: 100%;
}
.videoWrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
body.noscroll {
  overflow: hidden;
}
.iframestyle {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
/* HEADER */

.header {
  background: #FEFBFC;
  height: 50px;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header .logo {
  padding: 0;
}
/* MENU */

.menu-collapser {
  position: relative;
  background-color: #FEFBFC;
  color: #151708;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 8px 0 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
.collapse-button {
  position: absolute;
  right: 8px;
  top: 50%;
  width: 40px;
  background-color: #151708;
  color: #FEFBFC;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
.collapse-button:hover,
.collapse-button:focus {
  background-image: none;
  background-color: #151708;
  color: #FEFBFC;
}
.collapse-button .icon-bar {
  background-color: #FEFBFC;
  color: #151708;
  display: block;
  height: 2px;
  width: 18px;
  margin: 2px 0;
}
ul.slimmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.slimmenu li {
  position: relative;
  display: inline-block;
}
ul.slimmenu > li {
  margin-right: -5px;
}
ul.slimmenu > li:first-child {
  border-left: 0
}
ul.slimmenu > li:last-child {
  margin-right: 0
}
ul.slimmenu li a {
  display: block;
  background: #FEFBFC;
  color: #151708;
  padding: 19px 16px 19px 16px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.125;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
}
ul.slimmenu li a:hover {
  background-color: #F7F8FC;
  text-decoration: none;
  color: #009CFF;
}
ul.slimmenu li .sub-collapser {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  z-index: 999;
  cursor: pointer;
  margin-right: 0;
}
ul.slimmenu li .sub-collapser:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
ul.slimmenu li .sub-collapser > i {
  color: #999;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  font-style: normal !important;
}
ul.slimmenu li ul {
  margin: 0;
  list-style-type: none;
  padding: 0
}
ul.slimmenu li ul li {
  background-color: #FEFBFC;
  width: 100%;
}
ul.slimmenu li > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  width: 100%;
}
ul.slimmenu li > ul > li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  width: 100%;
}
ul.slimmenu.collapsed li {
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li a {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
  height: 50px;
}
ul.slimmenu.collapsed li > ul {
  display: none;
  position: static;
}
a.fullscreen,
a.fullscreenExit {
  display: block;
}
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover {
  text-decoration: none;
}
.tooltip:hover:after {
  background: #00A1FF;
  top: 50px;
  color: #fff;
  content: attr(title);
  display: block;
  right: 0;
  padding: 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 99;
}
.tooltip:hover:before {
  border: solid;
  border-color: #00A1FF transparent;
  border-width: 0 6px 6px 6px;
  top: 44px;
  content: "";
  display: block;
  right: 35%;
  position: absolute;
  z-index: 99;
}
/* FREEWALL GRID */

.free-wall {
  margin: 50px 0;
  width: 100%;
  height: 100%;
  background: rgba(223, 226, 227, 0.92);
}
.size11 {
  height: 295px;
  width: 250px;
}
.size12 {
  width: 295px;
  height: 500px;
}
.size21 {
  width: 590px;
  height: 250px;
}
.size32 {
  width: 885px;
  height: 500px;
}
.brick {
  background-color: #FEFBFC;
  float: left;
  cursor: default;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.brick img {
  width: auto;
  height: 100%;
}
.brick .cover {
  overflow: hidden;
  margin: 20px;
}
.brick div.overlay {
  opacity: 0;
  z-index: 102;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.brick:hover div.overlay {
  opacity: 1;
}
.brick div.overlay .project-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.brick div.overlay .project-description {} a.open-project {
                                             line-height: 2.5;
                                             display: block;
                                           }
.tint {
  position: relative;
  float: left;
}
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(219, 222, 224, 0.92);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}
.tint:hover:before {
  background: rgba(226, 232, 235, 0.62);
}
.cycle-slideshow {
  -webkit-transform: translateZ(0);
}
/* CLIENT COUNT */

.client {
  z-index: 101;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  color: #FEFBFC;
}
.number {
  font-weight: 700;
  font-size: 100px;
  display: block;
}
.client-text {
  font-weight: normal;
  font-size: 34px;
}
/* FOOTER */

.footer {
  height: 50px;
  position: fixed;
  background: #FEFBFC;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.copyright {
  padding-top: 10px;
  padding-right: 20px;
  background: #FEFBFC;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.125;
  text-transform: uppercase;
}
/* MEDIA QUERIES */

@media all and (min-width: 799px) {
  .sub-collapser {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .header {
    position: absolute;
  }
  #freewall {
    margin: 0;
  }
}
